<h1>
  Contact Us
</h1>

<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" placeholder="Name..." formControlName="name" />
      <p class="error-msg" *ngIf="name.invalid && name.touched">
        Enter a valid name.....
      </p>
    </mat-form-field >

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput
      type="text"
      matInput
      placeholder="Email..."
      formControlName="email" />
      <p class="error-msg" *ngIf="email.invalid && email.touched">
        Enter a valid email.....
      </p>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Occupation</mat-label>
      <input matInput type="text" placeholder="Occupation..." formControlName="occupation"/>
    </mat-form-field >

    <mat-form-field appearance="fill">
      <mat-label>Subject</mat-label>
      <input matInput type="text" placeholder="Subject..." formControlName="subject" />
      <p class="error-msg" *ngIf="subject.invalid && name.touched">
        Enter a valid subject.....
      </p>
    </mat-form-field >

    <mat-form-field appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Your message..." formControlName="content"></textarea>
      <p class="error-msg" *ngIf="content.invalid && content.touched">
        Enter a minimum of 10 characters and a maximum of 255.....
      </p>
    </mat-form-field >

    <button
    mat-raised-button
    type="submit"
    [disabled]="registerForm.invalid">Submit</button>
  </form>
</div>
