.container {
    position: relative;
    height: 200px;
}

.centered-element {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

a {
    margin: 0 10px;
}