<div id="home-page">
  <h1>Welcome to the POL website</h1>

  <div class="home-page-body">

    <span class="img-p">
      <img src="../../../assets/20139_v9_ba.jpg" alt="fake-personal-pic" />
      <p>
        Hi everyone, my name is Pol and I am a web developer with over 8 months
        of experience in developing websites and web applications. I specialize
        in technologies like HTML, CSS, JavaScript, and TypeScript, and I also
        have experience with frameworks like Angular and React. In addition, I
        have worked on notable projects such as creating a videogame, which has
        allowed me to gain a wide range of skills and knowledge in the field of
        web development. I am excited to be here and I hope to be able to
        collaborate and learn alongside all of you. Don't forget to contact me!
      </p>

      
    </span>


    <h2>Here you have some projects </h2>


    <ul>

      <li> <a href="https://pol1987.github.io/recluta/" target="_blank">Recluta Videogame</a> </li>
      <li> <a href="https://circlebypol.netlify.app/pages/homepage.html" target="_blank">Circle Website</a> </li>
      <li> <a href="https://drforest.netlify.app/login" target="_blank">Dr.Forest</a> </li>

    </ul>

  </div>

</div>
