<body>
    

<div class="home-page-box">
    <h1>Profile</h1>
    <img src="https://picsum.photos/536/354" alt="image">

    <h2>About me</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu consequat orci. Etiam pellentesque lectus ipsum, dictum bibendum nunc tempor at. Integer vel efficitur est. Fusce ex tortor, gravida vitae libero vel, imperdiet luctus felis. Praesent iaculis sapien vitae ex pharetra aliquet. Donec felis nulla, aliquet at elementum et, malesuada nec neque. Vivamus neque metus, dignissim non faucibus sit amet, tincidunt et nunc. Pellentesque vitae mattis enim. Curabitur efficitur aliquet nibh, sed venenatis nulla feugiat non. Pellentesque eget purus id ligula commodo tincidunt sit amet vitae elit. Curabitur et scelerisque nunc. Nulla et sollicitudin sem. Praesent pretium non ligula in tempor. Sed pulvinar, est sed tincidunt vestibulum, neque sem rhoncus dui, nec gravida mauris felis ac massa.</p>

    <h2>Projects</h2>
    <ul>
        <li><a href="">Project 1</a></li>
        <li><a href="">Project 2</a></li>
        <li><a href="">Project 3</a></li>
        <li><a href="">Project 4</a></li>
        <li><a href="">Project 5</a></li>
    </ul>
</div>

</body>