<mat-grid-list cols="1" rowHeight="2:1">
  <mat-card>
    <img mat-card-image src="https://assets.codepen.io/4787486/fishermen-silhouettes.jpg" layout-fill/>
  </mat-card>

  <mat-card style="margin: 10px">
    <mat-card-title>
      About me
    </mat-card-title>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni sit sequi quos dolor quasi debitis repellendus praesentium illo aspernatur nulla distinctio, nemo quod. Veniam ad provident ipsum quasi saepe nobis.</p>
  </mat-card>

  <mat-card-title>My Projects</mat-card-title>
    <div style="display:flex; flex-direction: row;">

      <mat-card style="margin: 10px">
        <mat-card-header [ngStyle]="{'color':'black'}">Project</mat-card-header>
        <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam modi error consectetur, fugit hic dolores. Optio expedita accusamus odio iusto dignissimos minus animi sunt fuga. Nulla eligendi eos velit eius.
        </mat-card-content>
      </mat-card>

      <mat-card style="margin: 10px">
        <mat-card-header>Project</mat-card-header>
        <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam modi error consectetur, fugit hic dolores. Optio expedita accusamus odio iusto dignissimos minus animi sunt fuga. Nulla eligendi eos velit eius.
        </mat-card-content>
      </mat-card>

      <mat-card style="margin: 10px">
        <mat-card-header>Project</mat-card-header>
        <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam modi error consectetur, fugit hic dolores. Optio expedita accusamus odio iusto dignissimos minus animi sunt fuga. Nulla eligendi eos velit eius.
        </mat-card-content>
      </mat-card>

    </div>
  </mat-grid-list>

