<div id="footer">
  <div id="footer-01">
    <img
      class="circle-logo"
      src="https://media-exp1.licdn.com/dms/image/C4D35AQEP_xvkizJ8Rg/profile-framedphoto-shrink_200_200/0/1616791176182?e=1670803200&v=beta&t=uTokWOl9Tnmq7PuIKtupu2f0eQ6zjRSF2U_1es6fh3Q"
      alt="circle-logo"
    />
    <address>
      <a href="mailto:trinchera.dm@gmail.com">trinchera.dm@gmail.com</a> <br />
      +34 674 913 489
    </address>
  </div>
  <div class="grid">
    <ul>
      <li><a href="https://www.linkedin.com/in/danicima/">Linkedin:</a></li>
      <li><a href="https://github.com/DaniCima">GitHub:</a></li>
      <li>DaniCima</li>
    </ul>
  </div>
</div>
