<app-navbar></app-navbar>

<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
    <div>
      <input type="text" placeholder="Name..." formControlName="name" />
    </div>
    <div>
      <input
        type="text"
        placeholder="Ocupation..."
        formControlName="occupation"
      />
    </div>
    <div>
      <input type="text" placeholder="Email..." formControlName="email" />
    </div>
    <div>
      <input type="text" placeholder="Subject..." formControlName="subject" />
    </div>
    <div>
      <label for="content">Content:</label>
      <textarea name="content" formControlName="content"></textarea>
    </div>

    <button type="submit" [disabled]="contactForm.invalid">Submit</button>
  </form>
</div>
