<app-navbar></app-navbar>

<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div>
      <input type="text" placeholder="Name..." />
    </div>
    <div>
      <input type="text" placeholder="Ocupation..." />
    </div>
    <div>
      <input type="text" placeholder="Email..." />
    </div>
    <div>
      <input type="text" placeholder="Subject..." />
    </div>
    <div>
      <label for="content">Content:</label>
      <textarea name="content"></textarea>
    </div>

    <button type="submit">Submit</button>
  </form>
</div>
