<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="form">

        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Type your name" type="text" formControlName="name">
                <mat-icon matSuffix>face</mat-icon>
                <mat-error *ngIf="nameInput.invalid && nameInput.touched">
                    Please introduce your name
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Occupation</mat-label>
                <input matInput placeholder="Type your occupation" type="text" formControlName="occupation">
                <mat-icon matSuffix>work_outline</mat-icon>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Type your email" type="email" formControlName="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <mat-icon matSuffix>alternate_email</mat-icon>
                <mat-error *ngIf="emailInput.invalid && emailInput.touched">
                    Please introduce a valid email
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Subject</mat-label>
                <input matInput placeholder="Name" type="text" formControlName="subject">
                <mat-icon matSuffix>message</mat-icon>
                <mat-error *ngIf="subjectInput.invalid && subjectInput.touched">
                    Please introduce a subject
                </mat-error>
            </mat-form-field>
        </div>

            <!-- this needs validations -->
        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Textarea</mat-label>
                <textarea matInput formControlName="message" minlength="10" maxlength="255"></textarea>
                <mat-error *ngIf="messageInput.invalid && messageInput.touched">
                    Please introduce a message (min 10 characters long)
                </mat-error>

                <mat-hint align="end">Min 10 and max of 255 characters</mat-hint>
            </mat-form-field>
        </div>
 
        <button mat-stroked-button color="primary" type="submit" [disabled]="registerForm.invalid">Submit</button>
    </form>
</div>
