<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
        <mat-form-field>
            <mat-label>Name...</mat-label>
            <input [(ngModel)]="formName" matNativeControl formControlName="name">
            <mat-error class="error-msg" *ngIf="nameInput.invalid && nameInput.touched">
                Name required.....
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Occupation...</mat-label>
            <input [(ngModel)]="formOccupation" matNativeControl formControlName="occupation">
            <mat-error class="error-msg" *ngIf="occupationInput.invalid && occupationInput.touched">
                Occupation error.....
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email...</mat-label>
            <input [(ngModel)]="formEmail" matNativeControl formControlName="email">
            <mat-error class="error-msg" *ngIf="emailInput.invalid && emailInput.touched">
                Incorrect email format.....
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Subject...</mat-label>
            <input [(ngModel)]="formSubject" matNativeControl formControlName="subject">
            <mat-error class="error-msg" *ngIf="subjectInput.invalid && subjectInput.touched">
                Subject error.....
            </mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Max 255 characters">
            <mat-label>Your message...</mat-label>
            <textarea maxlength="255" [(ngModel)]="formMessage" formControlName="content" matInput></textarea>
            <mat-hint align="end">{{formMessage.length || 0}}/255</mat-hint>
            <mat-error class="erro  r-msg" *ngIf="contentInput.invalid && contentInput.touched">
                Message too short.....
            </mat-error>
        </mat-form-field>

        <p *ngIf="success === true" class="msgSuccess">Success!</p>

        <button mat-raised-button (click)="this.success = true" (click)="openSnackBar('Success', '')" color="primary"
            type="submit" [disabled]="registerForm.invalid">Submit</button>

    </form>
    <!--  -->
</div>