<mat-card>
    <mat-card-content>
        <mat-card-header>
            <h2>José Luis</h2>
        </mat-card-header>
        <img mat-card-image
            src="https://images.unsplash.com/photo-1543610892-0b1f7e6d8ac1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHByb2ZpbGUlMjBwaWMlMjBtZW1lfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores inventore esse hic architecto veniam
            fuga odit. Eaque maiores deserunt, harum temporibus perspiciatis facere nobis ut voluptate ullam, ad
            provident dolore!</p>
        <p><strong>Skils:</strong> HTML, CSS, JS, Angular</p>
        <mat-card-footer>
            <mat-card-actions>
                <button mat-raised-button color="primary">Project 1</button>
                <button mat-raised-button color="primary">Project 2</button>
                <button mat-raised-button color="primary">Project 3</button>
            </mat-card-actions>
        </mat-card-footer>
    </mat-card-content>
</mat-card>